@import url(_variables.scss);

.container {
  display: flex;
  flex-direction: row-reverse;
  height: 445px;
  max-width: 1100px;
}

.image {
  height: 100%;
  width: 45%;
  background: url("../style/images/image-header-desktop.jpg");
  background: cover;
  border-radius: 0 15px 15px 0;
  &::after {
    border-radius: 0 15px 15px 0;
  }
}
.card {
  width: 50%;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 7%;
  P {
    width: 85%;
    font-size: 0.8rem;
  }
}

.block {
  display: flex;
  justify-content: space-between;
  width: 85%;
  h3 {
    font-size: 1.3rem;
    margin: 1rem 0;
  }
}
