@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $VeryDarkBlueMainBackground;
  width: 100%;
  height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1rem;
}

.container {
  width: 90%;
  margin: 13% auto 0;
  max-width: 560px;
}

.image {
  width: 100%;
  height: 240px;
  background: url("../style/images/image-header-mobile.jpg");
  background-size: cover;
  border-radius: 15px 15px 0 0;
  opacity: 0.9;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $SoftViolet;
    mix-blend-mode: multiply;
    border-radius: 15px 15px 0 0;
  }
}

.card {
  background: $DarkDesaturateBlue;
  text-align: center;
  padding: 2.5rem 1rem 1rem 1rem;
  border-radius: 0 0 15px 15px;
  > p {
    color: $SlightlyTransparentMainParagraph;
    line-height: 1.5rem;
    margin-bottom: 2.81rem;
  }
}

h1,
h3 {
  color: $WhiteMainHeading;
  em {
    color: $SoftViolet;
    font-style: normal;
  }
}
h1 {
  font-family: "Inter", sans-serif;
  margin-bottom: 1.25rem;
}

.informations {
  margin-bottom: 2rem;
  text-transform: uppercase;
  h3 {
    font-size: 2rem;
  }
  p {
    color: $SlightlyTransparentStatHeadings;
  }
}
